body {
      background-image: url("bg.png");
      background-position: right bottom;
      background-repeat: no-repeat; 
}

#header {
	padding: 10px;
	display: flex;
	font-weight: 400;
}

#logo{
	width: 50%;	
}

#slogan{
	width: 50%;
	text-align: right;
    font-family: Roboto;
    font-size: 18;
	font-weight: 400;
}


#conteudo {
	padding: 10px;
	display: flex;
	font-weight: 400;
}

#ebook {
	width: 60%;
	background-color:#e4e8f5
}

#cab-ebook{
    font-family: Roboto;
    font-size: 46;
    text-align: center;
    font-weight: 900;
}

#text-ebook{
    font-family: Roboto;
    font-size: 14;
    text-align: center;
	padding: 5px;
}

#form-ebook{
    font-family: Roboto;
    font-size: 32;
    text-align: center;
}

#missao {
    display: table-cell; 
	vertical-align: middle;
	font-family: Roboto;
	font-size: 22;
	width: 40%;
	margin-left: 10px;
	padding: 10px;
	text-align: center;
	font-weight: 700;
	background-color: transparent;
}

#testemunho {
	font-size: 22;
	font-style: italic;
	font-family: Roboto;
    background-color: transparent;
}

#footer {
	padding: 10px;
	background-color: transparent;
}
