#header {
	padding: 10px;
	display: flex;
}

#logo{
	width: 50%;	
}

#slogan{
	width: 50%;
}


#conteudo {
	padding: 10px;
	display: flex;
}

#ebook {
	width: 48%;
}

#divisor{
	width: 4%;	
}


#missao {
	width: 48%;
}

#footer {
	padding: 10px;
}
