#header {
	padding: 10px;
	display: flex;
}

#logo{
	width: 50%;	
}

#slogan{
	width: 50%;
	text-align: right;
}

#conteudo {
	padding: 10px;
	display: flex;
}

#ebook {
	width: 50%;
}

#missao {
	width: 50%;
}

#footer {
	padding: 10px;
}
